{% extends "orders/layout.html"%}

<!-- Title-->
{% block title %} Order {{category}}s {% endblock %}

<!-- Load Static Files-->
{% load static %}

<!-- Body -->
{% block body %}
<h6 class="font-weight-bold">
  <a class="text-decoration-none text-muted" href="{% url 'order' %}"
    ><i class="fas fa-chevron-circle-left fa-lg"></i>
  </a>
</h6>
<h1 class="display-3 text-centers text-danger">{{category}}s</h1>
<form id="item-form">
  <h1 class="text-success">Select your {{category}}</h1>
  {% csrf_token %}
  <div class="form-group">
    <!-- Type -->
    <label class="mt-2 font-weight-bold" for="item">Type:</label>
    <select class="form-control" id="item" required>
      <option value="0" selected>Choose a type...</option>
      {% for item in items%}
      <option value="{{item.id}}">{{item.description}}</option>
      {% endfor %}
    </select>

    <!-- Size -->
    {% if category in "Sicilian Pizza, Sub, Dinner" %}
    <p class="mt-2 font-weight-bold">Size:</p>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="size"
        id="small"
        value="small"
        required
      />
      <label class="form-check-label" for="small">Small</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="size"
        id="large"
        value="large"
      />
      <label class="form-check-label" for="large">Large</label>
    </div>
  </div>
  {% endif %} {% if category in "Sicilian Pizza, Sub" %}
  <p class="font-weight-bold mb-0">
    {% if category == "Sub" %} Add {% elif category in "Sicilian Pizza" %}
    Toppings {% endif %}:
  </p>
  {% if category == "Sub" %}
  <small class="text-danger">+ $0.50 ea.</small>
  {% endif %}
  <div class="row mr-auto col-4">
    {% for topping in toppings %}
    <!---->
    {% if category == "Sub" and topping.allowed_subs%}
    <div class="form-check form-check-inline m-1">
      <input
        class="form-check-input topping"
        type="checkbox"
        id="{{topping.id}}-topping"
        value="{{topping.description}}"
      />
      <label class="form-check-label" for="{{topping.id}}-topping"
        >{{topping.description}}</label
      >
    </div>
    {% elif category in "Sicilian Pizza" %}
    <div class="form-check form-check-inline m-1">
      <input
        class="form-check-input topping"
        type="checkbox"
        id="{{topping.id}}-topping"
        value="{{topping.description}}"
      />
      <label class="form-check-label" for="{{topping.id}}-topping"
        >{{topping.description}}</label
      >
    </div>
    {% endif %} {% endfor %}
  </div>
  {% endif %}
  <div class="alert alert-success mt-4 d-none" role="alert">
    Item added to cart!
  </div>
  <div class="form-group mt-4">
    <button type="submit" class="btn btn-danger">Add to Cart</button>
  </div>
</form>
<script src="{% static 'orders/script.js' %}"></script>
{% endblock %}
